/*..................................................... Learnings ............................................................
1) 
............................................................................................................................*/
                                /*..................... 3) Shake ...........................*/
.shake {
  animation: shake 0.25s ease-in-out infinite;
}
@keyframes shake {
  25% {
    transform: translateX(-6px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0);
  }
}

